.container{
    width: 70%;
    margin:  20px auto;
    border: 1px solid gray;
    padding: 0;
}
.cuadro{
    text-align: center;
}
.footer{
    background-color: lightskyblue;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin: auto;

}
.imagen{
    width: 37px;
    height: 37px;
    margin: auto;
    vertical-align: middle;
    
}

